*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}
.cart{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.top{
    width: 100%;
    height: 40px;
    justify-content: space-around;
    background:#eee;
    display: flex;
}
.top span{
    font-size: 13px;
    line-height: 40px;
}
.center{
    width: 100%;
    height: auto; 
    flex: 1;
}

.center li{
    line-height: 50px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #000;
  }
  .center li input{
    margin: 20px 0;
  }
  .center li div button{
    margin: 0 7px;
  }
.footer{
    width: 100%;
    height: 50px;
    border-top: 1px solid #fff;
    box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.2);
}
.footer li{
    width: 33%;
    float: left;
    line-height: 50px;
   text-align: center;
   justify-content: center;
}
.footer li:nth-child(3){
   background: #900;
   text-align: center;
   color: #fff;
}

.footer li span i{
    font-style: normal;
}