:global{
    .specai-wrap{
        width: 100%;
        height: 100%;
        overflow: auto;
        background: #eeeeee;
    }
    .specialele{
        margin-top: 10px;
        background: #ffffff;
    }
    .specialele:nth-child(1){
        margin-top: 0;
    }
    .specai-img{
        width: 100%;
        height: 200px;
    }
    p{
        text-align: center;
    }
    .p-one{
        font-size: 15px;
        line-height: 36px;
    }
    .p-two{
        font-size: 13px;
        color: gray;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 10px 20px;
    }
    .p-three{
        font-size: 14px;
        line-height: 36px;
    }
    .p-three{
        color: red;
    }
}