@charset "UTF-8";

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.userMsg {
    height: 170px;
    width: 100%;
    background-color: #cdb480;
    background-size: 100%;
    padding: .7rem .4rem;
    display: flex;
}

.userMsgWrap{
    width: 300px;
    height: 100px;
    margin: 30px;  
}
.userLogo{
    float: left;
    width: 100px;
    height: 100%;
    border-radius: 50%;
    background-color: #ccc;
}

.userMsgs>div{
    margin-top: 15px;;
    display: flex;
    align-items: center;
    color: white; 
}
.userPower{
    width: 100%;
    height: auto;
}
.userPower ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.userPower ul li{
    width: 33%;
    height: 150px;
    margin-right: 1px;
    margin-bottom: 2px;
    background-color:#09f;
}